#root {
  margin: 0 auto;
  text-align: center;
}

#root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/SGTeam.jpg'); /* Pfad zum Hintergrundbild im public-Ordner */
  background-size: cover;
}

#login-form {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Hintergrundfarbe des Formulars mit Transparenz */
  border-radius: 10px;
  border: 2px solid grey;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
